.Banner{
    background-image: url('https://wallpaperaccess.com/full/2703652.png');
    background-size: cover;
    height: 450px;
}   

.fade_bottom{
    height: 24.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,.61) ,#111);
}